---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Another software engineer in this big world."
	pubDate={new Date("2023-04-04")}
	updatedDate={new Date("2024-08-12")}
>
	<p>
		Another software engineer in this big world.
	</p>
	
	<p>
		Contact: <a href="https://github.com/Yelinz/blogfolio/issues" target="_blank">https://github.com/Yelinz/blogfolio/issues</a>
	</p>
</Layout>
