---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const title = SITE_TITLE;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={title} />
		<main>
			<h1>Welcome!</h1>

			This is a collection blogs which I wrote over the years.
			There is no rhyme or reason, just whenever and whatever I thought was worthy of being documented at the time of creation.
		</main>
		<Footer />
	</body>
</html>
