---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const title = "Blogfolio"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description="A collection of my thoughts and ideas." />
	</head>
	<body>
		<Header title={title} />
		<main>
			<h1>Welcome!</h1>

			This is a collection blogs which I wrote over the years.
			There is no rhyme or reason, just whenever and whatever I thought was worthy of being documented at the time of creation.
		</main>
		<Footer />
	</body>
</html>
