name: Dependabot auto-merge

on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: write
  pull-requests: write

jobs:
  enable-automerge:
    if: >-
      ${{
        github.actor == 'dependabot[bot]'
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.graphql(
              `
              mutation($pullRequestId: ID!) {
                enablePullRequestAutoMerge(
                  input: { pullRequestId: $pullRequestId, mergeMethod: SQUASH }
                ) {
                  pullRequest {
                    number
                  }
                }
              }
              `,
              {
                pullRequestId: context.payload.pull_request.node_id
              }
            );
