name: Dependabot auto-merge

on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review, labeled]

permissions:
  contents: write
  pull-requests: write

jobs:
  enable-automerge:
    if: >-
      ${{
        github.actor == 'dependabot[bot]' &&
        contains(github.event.pull_request.labels.*.name, 'automerge')
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: squash
